.banner {
  background: url("https://i.pinimg.com/736x/71/e0/d3/71e0d3fc10b36a343ec9f210403f29f7.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: #fff;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav .logo {
  float: left;
  position: relative;
  line-height: 55px;
  text-align: center;
}
nav .logo img {
  vertical-align: middle;
  width: 100px;
}

.lingkaran {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #fff;
  background-color: #dc3545;
}

.lingkaran i {
  position: relative;
  top: 30px;
}

.crop-img {
  object-fit: cover;
}

.tim img {
  width: 250px;
  border: 10px solid #cccccc;
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  font-size: 18px;
  font-weight: bold;
}

a.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #333;
  line-height: 40px;
}

.kontak {
  background: url("https://media.istockphoto.com/id/1312073564/id/vektor/sumba-peta-jaringan-komunikasi-pulau.jpg?s=612x612&w=0&k=20&c=AOvUtRlYvvnLaCX21kze-stUb_jbabjBYB-7t0iNchM=") no-repeat center center;
  background-size: cover;
  padding-bottom: 1%;
  padding-top: 1%;
  color: #fff;
}
